.statistics__card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.statistics__card__title {
    font-size: 2rem;
    font-family: 'Inria Sans', sans-serif;
    color: var(--header-color);
    text-transform: capitalize;
    font-weight: 600;
}
.statistics__card__header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}
.statistics__card__legends {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.statistics__card__legend {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    color: var(--header-color);
}
.statistics__card__legend .square {
    width: 12px;
    height: 12px;
    border-radius: .2rem;
}
