.transactions__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.transactions__card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.transactions__card__title {
    font-size: 2rem;
    font-family: 'Inria Sans', sans-serif;
    color: var(--header-color);
    text-transform: capitalize;
    font-weight: 600;
}
.transactions__card__button {
    color: var(--text-color);
}
.transactions__card__button:hover {
    color: var(--accent-color);
    filter: drop-shadow(0 0 5px rgba(0, 201, 200, 0.15)) drop-shadow(0 0 5px rgba(0, 201, 200, 0.10)) contrast(2) brightness(2);
}
.transactions__card__body {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}